telegram_dl {

    library_path = "C:/Users/Bob/some_path_here/tdjson.dll"

    tdlib_log_file_path = "C:/Users/Bob/some_path_here/tdjson.dll"

    api_id = 123456

    api_hash = "00000000000000000000000000000000"

    tdlib_working_path = "C:/Users/Bob/some_path_here/tdlib"

    tdlib_enable_storage_optimizer = true

    tdlib_ignore_file_names = true

}